# Kconfig.defconfig.series - Nordic Semiconductor nRF51 MCU line
#
# Copyright (c) 2016 Linaro Limited
# Copyright (c) 2018 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: Apache-2.0
#

if SOC_SERIES_NRF51X

gsource "arch/arm/soc/nordic_nrf/nrf51/Kconfig.defconfig.nrf51*"

config SOC_SERIES
	default "nrf51"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 32768

config SYS_CLOCK_XTALFREQ
	int "System clock's external crystal frequency"
	default 16000000
	help
	  This option specifies the frequency of the external crystal used for the
	  system clock (in Hz). This option is set by the board's Kconfig file
	  and the user should generally avoid modifying it via the menu configuration.

config SYS_POWER_MANAGEMENT
	default y

config NUM_IRQS
	int
	default 26

if SENSOR

config TEMP_NRF5
	def_bool y

endif # SENSOR

endif # SOC_SERIES_NRF51X
