# Kconfig - nRF51 Beacon board configuration
#
# Copyright (c) 2018 Owen Kirby <oskirby@gmail.com>
#
# SPDX-License-Identifier: Apache-2.0

config BOARD_NRF51_BEACON
	bool "nRF51 Beacon"
	depends on SOC_NRF51822_QFAA
